section(class="banner banner--portfolio") 
	h1(class="header--lrg") Portfolio
	h2(class="header--sml") An overview of some of my design and development work plus a look into my side projects.
	ul(class="tabs")
		if portfolioCategory === "View All"
			li(class="active") #[span View all]
		else
			li
				a(href="/portfolio") #[span View all]

		if portfolioCategory === "Plusnet"
			li(class="active") #[span Plusnet]
		else
			li
				a(href="/portfolio/plusnet") #[span Plusnet]

		if portfolioCategory === "Red HQ"
			li(class="active") #[span Red HQ]
		else
			li 
				a(href="/portfolio/red-hq") #[span Red HQ]

		if portfolioCategory === "Side Project"
			li(class="active") #[span Side Projects]
		else
			li
				a(href="/portfolio/side-projects") #[span Side Projects]

	section(class="portfolio-items")

		- var i = 0
		- var portfolioFiltered = {}

		//- Loop through portfolio.js object items and push to portfolioFiltered using category specified in main file as a filter
		each value, key in portfolio
			if value.company === portfolioCategory || portfolioCategory === "View All"
				- portfolioFiltered[key] = value

		//- Print filtered list
		each value, key in portfolioFiltered

			- var name = key

			//- Set container classes based on odd/even
			if i === 0
				- var slideOrderClass = "odd"
				- var containerClasses = "sml-clear sml10 sml-offset1 lrg-clear lrg8 lrg-offset2 xlrg-clear xlrg5 xlrg-offset7 xxxlrg-clear xxxlrg5 xxxlrg-offset9"
				- i = 1;
			else if i === 1
				- slideOrderClass = "even"
				- containerClasses = "sml-clear sml10 sml-offset1 lrg-clear lrg8 lrg-offset2 xlrg-clear xlrg5 xxxlrg-clear xxxlrg5 xxxlrg-offset2"
				- i = 0;

			//- If more than one screenshot add class
			if value.screenshots.length > 1
				- var slideClass = "multiple"
			else
				- var slideClass = ""

			section(class="portfolio-item #{slideOrderClass}")
				div(class="portfolio-item__screens #{slideClass}")
					div(class="portfolio-item__container")

						//- Loop through screenshots
						each screenshot, key in value.screenshots

							if screenshot.scroll && key === 0
								- var slideStatus = "scroll active"
							else if  key === 0
								- var slideStatus = "noScroll active"
							else if screenshot.scroll
								- var slideStatus = "scroll"
							else
								- var slideStatus = "noScroll"						

							div(class="portfolio-item__slide #{slideStatus}")
								div(class="portfolio-item__slide-inner")
									img(src="/img/browser.svg" class="portfolio-item__browser svg" alt="Browser")
									img(src="/img/browser.png" class="portfolio-item__browser no-svg" alt="Browser") 
									div(class="portfolio-item__screen")
										if screenshot.altUrl
											img(class="svg" data-normal= screenshot.url alt= name + " screenshot " + (key + 1))
											img(class="no-svg" data-normal= screenshot.altUrl alt= name + " screenshot " + (key + 1))
										else
											img(data-normal= screenshot.url alt= name + " screenshot " + (key + 1))
									img(src="/img/portfolio-spacer.gif" class="portfolio-spacer" alt="portfolio spacer")

					div(class="portfolio-item__controls")
						span(class="portfolio-items__controls-arrow portfolio-items__controls-prev")
						span(class="portfolio-items__controls-num")
						span(class="portfolio-items__controls-arrow portfolio-items__controls-next")
				div(class="container")

					div(class="portfolio-item__text #{containerClasses}")
						div(class="portfolio-item__text-inner")
							h3= value.company
							h2(class="header--med")= key
				
							//- Print out all paragraphs
							each paragraph in value.description
								p= paragraph

							//- If there is a link, print it
							if value.urlText && value.url
								a(href= value.url target="_blank")= value.urlText
							else if value.url
								a(href= value.url target="_blank")= value.url